.jumbotron {
    text-align: center;
    background-image: url("http://java.codeup.com/examples/bootstrap/pizza.png");

}
h1 {
   background-color: #eeeeee;
    color: black;
    opacity: 0.7;
    text-decoration: solid;

}
.container {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
}
